@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
  background-image: url(images/diagmonds.png);
  font-size: 14px;
}
.wrapper .header {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 50px auto;
}
.wrapper .header .top,
.wrapper .signup {
  background-color: rgba(255, 255, 255, 0.562);
  border: 1px solid #a4e8ec;
  border-radius: 10px;
  padding: 40px 40px 20px;
}
.wrapper .header .logo img {
  display: block;
  margin: 0 auto 35px;
  cursor: pointer;
}
.wrapper .header .form .input_field {
  margin-bottom: 5px;
}
.wrapper .header .form .input_field .input {
  width: 100%;
  background: #fafafa;
  border: 1px solid #efefef;
  font-size: 12px;
  border-radius: 3px;
  color: #262626;
  padding: 10px;
}
.wrapper .header .form .input_field .input:focus {
  border: 1px solid #b2b2b2;
}
.wrapper .header .form .btn a {
  color: #fff;
  display: block;
}
.wrapper .header .or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  margin: 15px 0 20px;
}
.wrapper .header .or .line {
  width: 105px;
  height: 2px;
  background: #a4e8ec;
}
.wrapper .header .or p {
  font-size: 12px;
}
.wrapper .dif .gs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .dif .forgot {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
.wrapper .dif .forgot a {
  color: #003569;
}
.wrapper .signup {
  text-align: center;
  margin: 10px 0 20px;
  padding: 25px 40px;
  color: #262626;
}
.wrapper .signup a {
  color: #3897f0;
}
.wrapper .apps {
  text-align: center;
  color: #262626;
}
.wrapper .apps p {
  margin-bottom: 20px;
  color: #003569;
}
.wrapper .apps a img {
  width: 135px;
  height: 40px;
  margin: 0 5px;
}
.wrapper .apps a img:hover {
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 3px 3px #3897f0;
}
.footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .links ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer .links ul li a {
  color: #003569;
  font-size: 12px;
}
.footer .links ul li:hover {
  opacity: 0.6;
  transform: rotate(360deg);
  transition: 0.6s;
}
.footer .copyright {
  color: #003569;
}
.footer .copyright a:hover {
  text-shadow: 1px 1px #79acdb;
}
.logged {
  display: none !important;
}
